body {
    background-image: url(headphone.jpg);
    background-color: #cccccc;
    height: 680px;
    background-position: center;
    background-size: cover;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-radius: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px;
    background-color:rgb(48 45 45);
    color:white;
}

#getson {
    margin-top:15px;
    margin-left:175px;
    border-radius: 18px;
    font-size: 20px;
    transition-duration:0.5s;
}

#getson:hover{
    background-color:rgb(38, 213, 210);
    color:black;
}

#buttonInput {
    padding: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 19px;
    transition-duration:0.5s;
}

#buttonInput:hover{
background-color:rgb(38, 213, 210);
color:black;
}

#userText {
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
    display:block;
}

.userText span {
    background-color:rgb(38, 213, 210);
    padding: 10px;
    margin-left:355px;
    display:block;
    border-radius:15px;
}

.botText {
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #808080;
    padding: 10px;
    border-radius: 15px;
}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}